/*
Project Name: Relaxr Blog
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.fl {
  float: right;
}

.fl {
  float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  font-family: 'Open Sans', Arial, sans-serif;

}

.navigation {
  width: 1200px;
  height: 120px;
  box-sizing: border-box;
  background-color: #033048;

}

.logo {
  width: 350px;
  height: 120px;
  box-sizing: border-box;
  float: left;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  padding-left: 120px;
  padding-top: 30px;
  color: #fff;
}

a { text-decoration: none;}

nav {
  width: 840px;
  box-sizing: border-box;
  float: right;

}

li {
  height: 50px;
  margin-left: 10px;
  margin-right: 55px;
  margin-top: 45px;
  float: right;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  color: #f9e42e;
}

.content {
  width: 1200px;
  box-sizing: border-box;
  padding-top: 50px;
  background-color: #f0efef;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #033048;
  padding-bottom: 25px;
}

.posts-all {
  width: 820px;
  float: left;
  padding-left: 120px;
  padding-bottom: 75px;
  scroll: auto;

}


.post {
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px #000 solid;
}

.post p {
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  color: #606161;
  padding-top: 25px;
}

.post p.first:first-letter { 
  font-size: 75px;
  font-weight: 600;
  float: left;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  border: #f00;
}

.post .read-more {
  display: block;
  padding-top: 50px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #033048;
  text-align: right;
  cursor: pointer;
}

.post .read-less {
  display: block;
  padding-top: 50px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #033048;
  text-align: right;
  cursor: pointer;
}

aside {
  width: 350px;
  float: right;
  background-color: #f0efef;
}



h3 {
  font-weight: 800;
  font-size: 32px;
  color: #033048;
  padding-bottom: 20px;
}

.categories li {
  font-size: 24px;
  font-weight: 300;
  color: #033048;
  float: none;
  margin: 0px;
  padding: 0px;
  height: 34px;
}

.about {
  padding-top: 40px;
  padding-right: 100px;
}

.about p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  color: #033048;
}

.about a {
  font-size: 22px;
  font-weight: 600;
  color: #033048;
}

.ad-unit { padding-top: 50px;}


.sign-up {
  display: block;
  width: 1200px;
  height: 120px;
  background-color: #f9e42e;
  text-align: center;
  padding-top: 30px;
}

.sign-up-button {
  display: block;
  font-weight: 800;
  font-size: 24px;
  border-radius: 5px;
  width: 325px;
  height: 60px;
  background-color: #033048;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  margin-left: 425px;
  padding: 17px;
  cursor: pointer;
 
}

footer {
  width: 1200px;
  text-align: center;
  background-color: #121212;
  height: 350px;
}

.share-tools {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 75px;
}

.footer-logo {
  padding-left: 0px;
  padding-top: 75px;
  padding-bottom: 50px;
  color: #f9e42e;
}

.copyright {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}



